{% extends "core/base.html" %}
{% load static %}

{% block head %}

<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/change-password.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link href="{% static 'css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

{%endblock%}

{% block content %}
<!-- <br><br> -->
<!-- <h1>Change Password</h1> -->
{% csrf_token %}
<!-- {{ form.as_p }} -->
<!-- FORM -->
<div class="changePassword">
    <div class="container">
        <div class="changePasswordMain">
            <div class="changePasswordTop">
                <h2>Change Password</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="changePasswordBottom" onSubmit={handleSubmit(onSubmit)}>
                    <div>
                        <input type="password" name="old_password" placeholder="Enter old password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                        {% for error in form.old_password.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        <input type="password" name="new_password1" placeholder="Enter new password" autocomplete="new-password" required="" id="id_new_password1">
                        {% for error in form.new_password1.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2">
                        {% for error in form.new_password1.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <button type="submit">
                        Change Password
                    </button>
                </div>
            </form>

        </div>
        <div class="svg">
            <img src="{% static 'img/password/password.png' %}" />
        </div>
    </div>
</div>
{% endblock content %}


{%block footer%}
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{%endblock%}