{% extends "core/base.html" %}
{% load static %}

{% block head %}

<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/change-password.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link href="{% static 'css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

{%endblock%}

{% block content %}



<div class="changePassword">
    <div class="container">
        <div class="changePasswordMain">
            <div class="changePasswordTop">
                <h2>Password Reset Confirm</h2>
                <p class='text-danger'>Please enter your new password.</p>
            </div>
                <div class="changePasswordBottom" onSubmit={handleSubmit(onSubmit)}>
                    <form method="POST">
                        {% csrf_token %}
                    <div>
                        <label htmlFor="firstname">New Password</label>
                        <input type="password" name="new_password1" placeholder="Enter new password" autocomplete="new-password" required="" id="id_new_password1">
                        {% for error in form.new_password1.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        <label htmlFor="lastname">Confirm New Password</label>
                        <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2">
                        {% for error in form.new_password2.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <button class="btn btn-primary resetPasswBtn" type="submit">Reset password</button>
                </form>
                <div class="svg">
                    <img src="{% static 'ionicons-2.0.1/png/icon/password-login.svg' %}" />
                </div> 
                </div>
        </div>
    </div>
</div>
{% endblock content %}


{%block footer%}
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{%endblock%}