{% extends "core/base.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link href="{% static 'css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/change-password.css' %}" rel="stylesheet">
<style>
    .fb-color {
        background-color: #3C599F;
    }

    .social-login {
        border-radius: 50%;
        color: #fff;
        box-shadow: 1px 1px 3px #333;
        width: 50px;
        height: 50px;
        line-height: 50px !important;
        text-align: center;
        transition: all 0.3s ease-in-out;
        font-size: 1.8em;
    }

    .google-color {
        background-color: #CF3D2E;
    }
</style>

{%endblock%}

{% block content %}

{% csrf_token %}

<div class="changePassword">
    <div class="container">
        <div class="changePasswordMain">
            <div class="changePasswordTop">
                <h2>Login</h2>
            </div>
            
                <div class="changePasswordBottom" onSubmit={handleSubmit(onSubmit)}>
                    <form action="{% url 'users:user-login' %}" method="POST">
                        {{form.non_field_errors }}
                        {% csrf_token %}
                    <div>
                        <label>Email or Username</label>
                        <input type="text" class="form-control" placeholder="Enter your Email or Username"
                            name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
                            required="" id="id_username">
                        {% for error in form.username.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter your Password"
                            autocomplete="current-password" required="" id="id_password">
                        {% for error in form.password.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>

                    <div>

                        <a href="{% url 'users:password_reset' %}" class="forgot-password">Forgot password?</a>
                    </div>
                    <button type="submit">
                        Login
                    </button>

                    <div>
                        <a href="{% url 'users:register' %}">Don't have an account? Sign up</a>
                    </div>
                    <div class="socials_e">
                        <div>
                            <a href="{% url 'users:login' %}" class="social"><i
                                    class="fa fa-facebook social-login fb-color"></i></a>
                            <a href="{% url 'users:login' %}" class="social"><i
                                    class="fa fa-google-plus social-login google-color"></i></a>
                        </div>

                    </div>
                </form>
                    <div class="svg">
                        <img src="{% static 'ionicons-2.0.1/png/icon/password-login.svg' %}" />
                    </div> 
        </div>
    </div>
</div>
{% endblock content %}


{%block footer%}
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{%endblock%}