{% extends "core/base.html" %}
{% load static %}

{% block head %}

<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/change-password.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link href="{% static 'css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

{%endblock%}

{% block content %}
<!-- <br><br> -->
<!-- <h1>Change Password</h1> -->
{% csrf_token %}
<!-- {{ form.as_p }} -->
<!-- FORM -->
<div class="changePassword">
    <div class="container">
        <div class="changePasswordMain">
            <div class="changePasswordTop">
                <h2>Register</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="changePasswordBottom" onSubmit={handleSubmit(onSubmit)}>
                    <div>
                        
                        {{form.first_name}}
                        {% comment %} <input type="password" name="old_password" placeholder="Enter old password" autocomplete="current-password" autofocus="" required="" id="id_old_password"> {% endcomment %}
                        {% for error in form.first_name.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        
                        {{form.last_name}}
                        {% comment %} <input type="password" name="new_password1" placeholder="Enter new password" autocomplete="new-password" required="" id="id_new_password1"> {% endcomment %}
                        {% for error in form.last_name.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                    
                        {{form.username}}
                        {% comment %} <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2"> {% endcomment %}
                        {% for error in form.username.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                    
                        {{form.email}}
                        {% comment %} <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2"> {% endcomment %}
                        {% for error in form.email.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        
                        {{form.password1}}
                        {% comment %} <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2"> {% endcomment %}
                        {% for error in form.password1.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div>
                        
                        {{form.password2}}
                        {% comment %} <input type="password" name="new_password2" placeholder="Confirm new password" autocomplete="new-password" required="" id="id_new_password2"> {% endcomment %}
                        {% for error in form.password2.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <button type="submit">
                        Sign Up
                    </button>
                    <div>
                        <a href="/users/user-login" class="">Have already an account? Login here</a>
                    </div>
                </div>
            </form>

        </div>
        {% comment %} <div class="svg">
            <img src="{% static 'img/password/password.png' %}" />
        </div> {% endcomment %}
    </div>
</div>
{% endblock content %}


{%block footer%}
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>


<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
{%endblock%}