{% extends "core/base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<style>
    .form-parent {
        width: 40%;
        background-color: rgb(210, 215, 216);
        border-radius: 10px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-parent form {
        width: 80%;
    }

    .form-group input {
        border-radius: 10px;
    }

    .logo h2 {
        text-align: center;
        color: #3C599F;
        font-weight: 800;
        font-size: 40px;
    }

    .logo:hover {
        text-decoration: none;

    }

    .centered {
        text-align: center;
    }

    .login-center {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock %}
{% block content %}
<section class="ftco-section contact-section register" style="margin: 60px auto 50px;">
    <div class="container">
        <div class="row block-9" style="display: flex; justify-content: center;">
            <div class="form-parent">
                <form action="" class="bg-light p-5 contact-form" method="post">
                    {% csrf_token %}
                    <a class="center logo" href="/">
                        <h2>
                            Unistore
                        </h2>

                    </a>
                    <div class="form-group">
                        {{form.first_name}}
                        {{form.first_name.errors}}
                    </div>
                    <div class="form-group">
                        {{form.last_name}}
                        {{form.last_name.errors}}
                    </div>
                    <div class="form-group">
                        {{form.username}}
                       
                        {{form.username.errors}}
                    </div>
                    <div class="form-group">
                        {{form.email}}
                        {% comment %} <input type="text" class="form-control" placeholder="Username" name="username"
                            autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required=""
                            id="id_username"> {% endcomment %}
                        {{form.email.errors}}
                    </div>
                    <div class="form-group">
                        {{form.password1}}
                        {% comment %} <input type="password" name="password" class="form-control" placeholder="Password"
                            autocomplete="current-password" required="" id="id_password"> {% endcomment %}

                    </div>
                    <div class="form-group">

                        {{form.password2}}
                        {% comment %} <input type="password" name="password" class="form-control"
                            placeholder="Confirm Password" autocomplete="current-password" required="" id="id_password">
                        {% endcomment %}
                        {% for error in form.password2.errors %}
                        <li class="text-danger">
                            {{error}}
                        </li>
                        {% endfor %}
                    </div>
                    <div class="centered">

                        <div class="form-group">
                            <input type="submit" value="Sign up" class="btn btn-primary py-3 px-5" style="width: 100%;">

                        </div>
                        <div class="form-group">
                            <a href="/users/user-login" class="">Have already an account? Login here</a>
                        </div>

                    </div>

                </form>



            </div>
        </div>
    </div>
</section>

{% endblock %}