{% extends "core/base.html" %}

{% load static %}

{% block head %}

    
    <!-- Bootstrap -->

    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="{% static 'css/custom-scroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet">

    {% endblock %}
    {% block content %}
    

    <div class="white">
      <hr class="offset-sm">
      
    <br><br>
      <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div id="Address">
                <address>
                  <label class="h3">Unistore Pro, Inc.</label><br>
                  1305 Market Street, Suite 800<br>
                  San Francisco, CA 94102<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                  <strong>Support</strong><br>
                  <a href="mailto:#">sup@example.com</a>
                  <br><br>

                  <strong>Partners</strong><br>
                  <a href="mailto:#">col@example.com</a>
                </address>
              </div>
            </div>
            <div class="col-sm-8">
              <!-- <div id="GoMap"></div> -->
              <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.1025160649624!2d49.84597291577213!3d40.40657967936637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6597155fcd%3A0xe2582559b0c1d8c3!2sTech%20Academy!5e0!3m2!1sen!2s!4v1659732237482!5m2!1sen!2s" 
              width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
      </div>

      <hr class="offset-lg">
    </div>

    <div class="gray">
      <hr class="offset-lg">

      <div class="container align-center">
        <h1 class="upp"> Need our help? </h1>
        <p> Please insert question to a form below. </p>
        <hr class="offset-md">

        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <form class="contact" method="post">
              
              {% csrf_token %}
              
              {{ form }}

              <!-- <textarea class="form-control" name="message" placeholder="Message" required="" rows="5"></textarea> -->
              <br>

              <!-- <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" /> -->
              <br>
              
              <input type="submit" name="contact" value="Send question" class="btn btn-primary justify">
              <!-- <button type="submit" class="btn btn-primary justify"> Send question </button> -->
            
            </form>
          </div>
        </div>
      </div>
      <br>
    </div>


    <hr class="offset-lg">
    <hr class="offset-sm">
  


    {%endblock%}


    {%block footer%}
 


    <script type="text/javascript" src="{% static 'js/custom-scroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4aLLXYWiLslF54XA_w9m1IynlKd0-lyE&callback=initMap"></script>


    <script>
      function initMap() {
        var mapDiv = document.getElementById('GoMap');
        var markerLatLng = {lat: 37.77610833280797, lng: -122.41745173931122};

        var map = new google.maps.Map(mapDiv, {
            center: {lat: 37.77610833280797, lng: -122.41745173931122},
            zoom: 8
        });

         var marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          title: 'Unistore'
        });


        // google.maps.event.addListener(map, "rightclick", function(event) {
        //     var lat = event.latLng.lat();
        //     var lng = event.latLng.lng();
        //     // populate yor box/field with lat, lng
        //     console.log("Lat=" + lat + "; Lng=" + lng);
        // });

      }
    </script>

 {%endblock%}