{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>Results</title>
    <style>
        .cartBody {
            display: flex;
        
        }
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .productName {
            text-align: center;
        }
        .marginFromLeftAndRight {
            margin: 0px 50px !important;
            font-size: 29px;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Products</h1>
                {% for result in results.0 %}
                <div style="background-color: white; margin: 10px auto; padding: 5px;" class="col-sm-6 col-md-4 col-lg-12 product">
                    <div class="body cartBody">                       
                      <div class="content">
                        <b><h1 class="h2 productName">{{ result | title }}</h1></b>
                        <div class="exceptFromH1">
                        <p class="price marginFromLeftAndRight">{{ result.price }} </p>
                        <label class="marginFromLeftAndRight">{{ result.brand | title }} </label>
                        <a class="marginFromLeftAndRight" href="{% url 'product:product-detail' slug=result.slug %}">Details</a>
                        </div>
                      </div>

                    </div>
                  </div>
                {% endfor %}
            </div>
            
            <div class="col-lg-6">
                <h1>Blogs</h1>
                {% for result in results.1 %}
                    <div style="background-color: white; margin: 10px auto; padding: 5px;" class="col-sm-6 col-md-4 col-lg-12 product">
                        <div class="body cartBody">                       
                        <div class="content">
                            <h1 class="h2 productName">{{ result | title }}</h1>
                            <div class="exceptFromH1">
                            <p class="price marginFromLeftAndRight">{{ result.description | truncatewords:15 }} </p>
                            <label class="marginFromLeftAndRight">{{ result.tags | title }} </label>
                            <a class="marginFromLeftAndRight" href="{% url 'blog:blog-detail' slug=result.slug %}/">Details</a>
                            </div>
                        </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}