{% load i18n %}
{% load social_share %}

<div class="subscribe">
    <div class="container align-center">
      <hr class="offset-md">

      <h1 class="h3 upp">{% trans "Join our newsletter" %}</h1>
      <p>{% trans "Get more information and receive special discounts for our products." %}</p>
      <hr class="offset-sm">

      <form action="{% url 'core:subscribe' %}" id="subscribe" method="post">
        {% csrf_token %}
        <div class="input-group">
          {{subscriber_form.email}}
          <span class="input-group-btn">
            <button name="subscribe" type="submit" class="btn btn-primary"> Subscribe <i class="ion-android-send"></i>
            </button>
          </span>
          
        </div><!-- /input-group -->
          {% comment %} {%for error in subscriber_form.email.errors%}
            <li class="text-danger">{{error}}</li>
          {%endfor%} {% endcomment %}
          <p id="message" style="margin-top: 10px; padding: 5px; color: green; font-size: 18px;"></p>
      </form>
      <hr class="offset-lg">
      <hr class="offset-md">

      <div class="social">
        <a href="#"><i class="ion-social-facebook"></i></a>
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-googleplus-outline"></i></a>
        <a href="#"><i class="ion-social-instagram-outline"></i></a>
        <a href="#"><i class="ion-social-linkedin-outline"></i></a>
        <a href="#"><i class="ion-social-youtube-outline"></i></a>
      </div>


      <hr class="offset-md">
      <hr class="offset-md">
    </div>
  </div>


