.parent {
    position: relative;
    top: 0;
    left: 0;
  }
#prod_image {
    position: relative;
    top: 0;
    left: 0;
  }
#campaign_image {
    position: absolute;
    top: -4px;
    right: -3px;
    height: 75px !important;
    width: 75px !important;
}