.changePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    background: #ffffff;
}

.changePassword>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.changePasswordMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 3;
}

.changePasswordTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.changePasswordTop h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #4f4f4f;
    margin-bottom: 32px;
}

.changePasswordBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.changePasswordBottom>div {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    position: relative;
}

.changePasswordBottom label {
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    margin-bottom: 8px;
}

.changePasswordBottom input {
    border: none !important;
    outline: none !important;
    width: 400px !important;
    height: 48px !important;
    background: #f2f2f2 !important;
    border-radius: 8px !important;
    padding: 0 16px;
    font-size: 16px !important;
}

.changePasswordBottom button {
    font-size: 18px;
    margin-top: 32px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 1px solid #8b8a8a;
    border-radius: 8px;
    height: 48px;
    background: #2f2e2e;
    color: #ffffff;
}

.changePasswordBottom button:hover {
    background: #03b6cc;
}

.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    flex: 2;
}
